@model SendEmailViaSMTP.Models.MailModel
@{
}
@if (TempData["success"] != null)
{
    <div class="alert alert-success">@TempData["success"].ToString()</div>
}
@*@Html.Raw(TempData["success"])*@
<fieldset>
    <legend>
        Send Mail
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>From:</p>
        <p>@Html.TextBoxFor(m=>m.From)</p>
        <p>To:</p>
        <p>@Html.TextBoxFor(m=>m.To)</p>
        <p>Subject:</p>
        <p>@Html.TextBoxFor(m=>m.Subject)</p>
        <p>Body:</p>
        <p>@Html.TextAreaFor(m=>m.Body)</p>
        <input type="submit" value="Submit" />
    }
</fieldset>