@model SendEmailViaSMTP.Models.MailModelForAttachment

@{  
    ViewBag.Title = "Index";  
}  
@if (TempData["attachment"] != null)
{
    <div class="alert alert-success">@TempData["attachment"].ToString()</div>
}
@*<script src="~/Scripts/jquery-1.7.1.min.js"></script>  
<script>
    $(document).ready( function(){
        if ('@ViewBag.Message'=='Sent'){
            alert('Mail has been Sent successfully')
        }
    });
</script>*@
<h2>Index</h2>
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (@Html.BeginForm("MailWithAttachment", "SendMail", FormMethod.Post, new { @id = "form1", @enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary()
        <table>
            <tr>
                <td>
                    To:
                </td>
                <td>
                    @Html.TextBoxFor(m => m.To)
                </td>
            </tr>
            <tr>
                <td>
                    Subject:
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Subject)
                </td>
            </tr>
            <tr>
                <td>
                    Attachment
                </td>
                <td>
                    <input type="file" name="FormFile" />
                </td>
            </tr>
            <tr>
                <td>
                    Body:
                </td>
                <td>
                    @Html.TextAreaFor(m => m.Body)
                </td>
            </tr>
        </table>
        <input type="submit" value="Send" />
    }
</fieldset> 